@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.dropdown-extra{
  position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 9.74659px, 0px);
}